body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar .btn {
	margin: 0px 5px 9px
}

#inProgress {
	top: 10px;
	right: 10px;
	position: absolute;
	color: white;
	z-index: 3000;
}

.pagination em {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	float: left;
	line-height: 34px;
	padding: 0 14px;
	text-decoration: none;
}

.label-warn {
	background-color: #F89406;
}

.label-error {
	background-color: #B94A48;
}

.label-info {
	background-color: #3A87AD;
}

.label-debug {
	background-color: #999999;
}

.label-trace {
	background-color: #ffffff;
}

.highlight {
	background-color: yellow
}

.pagination-wrapper * {
	background-color: white;
}

a.wicket_orderDown {
	background-image: url(../img/arrow_down.png);
}

a.wicket_orderUp {
	background-image: url(../img/arrow_up.png);
}

a.wicket_orderNone {
	background-image: url(../img/arrow_off.png);
}

a.wicket_orderDown,a.wicket_orderNone,a.wicket_orderUp {
	padding-right: 25px;
	background-position: right;
	background-repeat: no-repeat;
}

.navbar-search .btn-group {
	padding: 0;
	margin: 0;
	margin-right: 4px;
}

.navbar-search > * {
	margin-right: 4px;
	float: left;
}
.exceptionColumn pre {
	cursor: pointer;
	background-color: #FFCBCB;
}
.exceptionColumn pre:hover {
	border: 1px solid rgba(0, 0, 0, 0.35);
}
.exceptionColumn pre.mini {
    height: 12px;
    overflow: hidden;
    width: 850px;
}
.exceptionColumn > span {
	overflow: hidden;
    white-space: inherit;
    word-wrap: normal;
   	white-space: pre-line;
   	display: block;
   	width: 850px;
}